*.bak
*.db
*.gpg
*.kbx
*.local
*.lock
*.log
*.status
.#*
local-*
local.*

/emacs/*
!/emacs/init.org
/fish/completions/
/fish/conf.d/*
!/fish/conf.d/tmux.fish
/fish/fish_variables
/fish/functions/
/gnupg/crls.d/
/gnupg/openpgp-revocs.d/
/gnupg/private-keys-v1.d/
/gnupg/random_seed
/guix/current
/zsh/.zcompdump*

/QtProject.conf
/autostart/
/fisher/
/gcloud/
/htop/
/hydroxide/
/ibus/
/keepassxc/
/mc/
/rclone/
/vlc/
