configuration {
    modi: "combi,run,ssh";
    combi-modi: "window,drun,run,ssh";
    display-combi: "/";
    display-drun: "app";
    show-icons: true;
    sidebar-mode: true;
    terminal: "alacritty";
}

@theme "android_notification"
